{% extends 'base.html' %}

{% block title %}Main Menu{% endblock %}

{% block header %}Welcome to the Menu Page{% endblock %}

{% block content %}
    {% load static %}
    <h3>Search for popular movies within a few seconds!</h3>

    <div class="button-container">
        <form action="{% url 'start_search' %}" method="get" onsubmit="showLoading(this)">
            <button type="submit" class="menu-button">Start Searching</button>
        </form>
    </div>

    <div class="button-container">
        <form action="{% url 'users:user_home' %}" method="get" onsubmit="showLoading(this)">
            <button type="submit" class="menu-button">User Home</button>
        </form>
    </div>

    <div class="button-container">
        <form action="{% url 'playlist_menu' %}" method="get" onsubmit="showLoading(this)">
            <button type="submit" class="menu-button">My Playlists</button>
        </form>
    </div>

    <div class="button-container">
        <form action="{% url 'forum_menu' %}" method="get" onsubmit="showLoading(this)">
            <button type="submit" class="menu-button">Forum</button>
        </form>
    </div>

    <!-- Loading Spinner -->
    <div id="loading-spinner" style="display: none;">
        Loading, please wait...
    </div>

    <script src="{% static 'menu/javascript/spinner.js' %}"></script>
{% endblock %}
