movies/movie/94e3a747-26a5-4b50-a7b4-86bedf53b1c8/*
movies/movie/chroma.sqlite3
movies/db.sqlite3

*.bin
*.pickle
*.sqlite3

# Ignore Python cache and other temporary files
__pycache__/
*.pyc
*.pyo
*.pyd

# Exclude movies_cache
movies_cache/