*.sqlite3
__pycache__
.idea
venv
data
*.model
*.pkl
movies_cache
.DS_Store
*.bin
*.pickle
*.log
problemseta.py
passwords.txt
*.pth
*.db
LDA/perplexity_plot.png
*.rdb
/movies/collected_static/
docker/local/.env
