{% extends 'base.html' %}

{% block title %}My recommendations{% endblock %}

{% block header %}My recommendations{% endblock %}

{% block content %}

    {% load static   %}

    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}

    {% if result %}
        <section class="result">
            <h2>Recommendation Results:</h2>
            <ul>
                {% for movie in result %}
                    <li>
                        <span class="label">Movie Title:</span>
                        <a href="{{ movie.get_absolute_url }}">{{ movie.original_title }}</a>
                    </li>
                    {% if not forloop.last %}
                        <hr>
                    {% endif %}
                {% empty %}
                    <li>No produce_recommendations found.</li>
                {% endfor %}
            </ul>

            <div class="pagination">
                <span class="step-links">
                    {% if result.has_previous %}
                        <a href="?page=1">&laquo; First</a>
                        <a href="?page={{ result.previous_page_number }}">Previous</a>
                    {% endif %}

                    <span class="current-page">
                        Page {{ result.number }} of {{ result.paginator.num_pages }}
                    </span>

                    {% if result.has_next %}
                        <a href="?page={{ result.next_page_number }}">Next</a>
                        <a href="?page={{ result.paginator.num_pages }}">Last &raquo;</a>
                    {% endif %}
                </span>
            </div>


        </section>
    {% endif %}

    <div id="loading" style="display: none; text-align: center; margin-top: 20px;">
        <p>Loading...</p>
    </div>


    <nav>
        <p><a href="{% url 'playlist_menu' %}" class="bold-link">Return to the playlist menu</a></p>
    </nav>

    <script src="{% static 'playlist/javascript/loader.js' %}"></script>


{% endblock %}



