{% extends 'base.html' %}

{% block title %} View all Playlists {% endblock %}

{% block header %}Playlists{% endblock %}

{% block content %}

    {% if playlists %}
        <h2>Playlist Results:</h2>
        <ul>
            {% for playlist in playlists %}
                <li style="display: flex; align-items: center;">
                    <span class="label">Playlist Title:</span>
                    <a href="{{ playlist.get_absolute_url }}">{{ playlist.name }}</a>

                <form method="POST" action="{% url 'delete_playlist' playlist.id %}" style="margin-left: auto;">
                            {% csrf_token %}
                            <button type="submit">Remove playlist</button>
                </form>
                </li>
                {% if not forloop.last %}
                <hr>
                {% endif %}
            {% empty %}
            {% endfor %}
        </ul>
    {% else %}
        <p>You have no Playlists.</p>
    {% endif %}

    <nav>
        <p><a href="{% url 'playlist_menu' %}" class="bold-link">Return to the playlist menu</a></p>
    </nav>


{% endblock %}
