body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f7fa; /* Light blue background */
    color: #333;
}


header {
    background-color: #00796b; /* Dark green background */
    color: #ffff;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    background-color: #ffffff; /* White background for main content */
    padding: 2em;
    max-width: 800px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

input[type="text"] {
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

button {
    padding: 0.75em 1.5em;
    background-color: #007BFF; /* Blue background */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.display-details {
    background-color: #fff;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 2em;
}

.recommendations {
    background-color: #fff;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recommendations ul {
    list-style-type: none;
    padding: 0;
}

.recommendations li {
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.recommendations li a {
    text-decoration: none;
    color: #007BFF;
}

.recommendations li a:hover {
    text-decoration: underline;
}

.label {
    font-weight: bold;
    color: #333;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
}

nav {
    margin-top: 2em;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.bold-link {
    font-weight: bold;
    color: #007BFF;
}

.button-container {
    display: flex;
    gap: 10px; /* Adjust spacing between buttons if needed */
}

    #chat_bot_request-form {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #f9f9f9;
        border: 1px solid #ccc;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        width: 300px;
        padding: 15px;
        border-radius: 10px;
    }
    #chat_bot_request-form h4 {
        margin: 0 0 10px;
        font-size: 16px;
    }
    #chat_bot_request-form form {
        display: flex;
        flex-direction: column;
    }
    #chat_bot_request-form input[type="text"] {
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    #chat_bot_request-form button[type="submit"] {
        padding: 8px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    #chat_bot_request-form button[type="submit"]:hover {
        background-color: #45a049;
    }
