<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/styles.css' %}">
</head>
<body>

    <main>
        <header>
            <h1>Change Password</h1>
        </header>

        {% if error %}
        <div class="error-message" style="color: red; margin-top: 20px;">
            <strong>Error:</strong> {{ error }}
        </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p><button type="submit">Submit</button></p>
        </form>

        <nav>
            <p><a href="{% url 'users:user_home' %}" class="bold-link">Return to the user home menu</a></p>
        </nav>

    </main>

</body>
</html>
