<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/styles.css' %}">
</head>
<body>

    <main>

        <header>
            <h1>Register</h1>
        </header>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p><button type="submit">Submit</button></p>
        </form>


            <nav>
                <p><a href="{% url 'users:user_home' %}" class="bold-link">Return to the user home</a></p>
            </nav>

    </main>

</body>
</html>
