{% extends 'base.html' %}

{% block title %}Reviews{% endblock %}

{% block header %}Reviews{% endblock %}

{% block content %}

    {% if reviews %}
        <h2>Reviews Results:</h2>
        <ul>
            {% for review in reviews %}
                <li style="display: flex; align-items: center;">
                    <a href="{{ review.get_absolute_url }}">
                        Written by User: {{ review.user.username }}; on Movie: {{ review.movie.original_title }}
                    </a>

                </li>
                {% if not forloop.last %}
                <hr>
                {% endif %}
            {% empty %}
            {% endfor %}
        </ul>
    {% else %}
        <p>No Reviews.</p>
    {% endif %}

    <nav>
        <p><a href="{% url 'forum_menu' %}" class="bold-link">Return to the Forum Menu</a></p>
    </nav>

{% endblock %}
