{% extends 'base.html' %}

{% block title %}Movie Search{% endblock %}

{% block header %}Search for a Movie{% endblock %}

{% block content %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'movie/css/styles.css' %}">

<div class="search-container">
    <form method="POST" action="{% url 'movie_search' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
            <!-- Search Input -->
            <div class="search-input-container">
                <label for="query">Enter Movie Name:</label>
                <input type="text" id="query" name="query" placeholder="Enter movie name">
            </div>

            <!-- Upload Button -->
            <div class="upload-container">
                <label for="image" class="upload-label">
                    <div class="upload-icon">
                        <img src="{% static 'movie/icons/upload-icon.svg' %}" alt="Upload" style="width: 50px; height: 50px;">
                    </div>
                </label>
                <input type="file" id="image" name="image" accept="image/*" hidden>
            </div>
        </div>
        <!-- Submit Button -->
        <button type="submit" class="search-btn">Search</button>
    </form>
</div>


    <!-- Error message display -->
    {% if error %}
        <div class="error-message" style="color: red; margin-top: 20px;">
            <strong>Error:</strong> {{ error }}
        </div>
    {% endif %}


    <!-- Loading indicator -->
    <div id="loading" style="display: none; text-align: center; margin-top: 20px;">
        <p>Loading...</p>
    </div>

    {% if movies %}
        <h2>Search Results:</h2>
        <ul>
            {% for movie in movies %}
                <li><span class="label">Movie Title:</span> <a href="{{ movie.get_absolute_url }}">{{ movie.original_title }}</a></li>
                {% if not forloop.last %}
                <hr>
                {% endif %}
            {% empty %}
                <li>No movies found.</li>
            {% endfor %}
        </ul>
    {% endif %}

    <nav>
        <p><a href="{% url 'main_menu' %}" class="bold-link">Return to the menu page</a></p>
    </nav>

    <div id="chat_bot_request-form">
        <h4>Movie Search Assistant</h4>
        <form action="{% url 'chat_bot_request' %}" method="post">
            {% csrf_token %}
            <input type="text" name="chat_bot_request" placeholder="Type your movie request..."/>
            <button type="submit">Submit</button>
        </form>
    </div>

    <script src="{% static 'movie/javascript/loading_indicator.js' %}"></script>

{% endblock %}
