{% extends 'base.html' %}

{% block title %}{{ movie.original_title }} - Movie Details{% endblock %}

{% block header %}Movie Details{% endblock %}

{% block content %}
    <section class="display-details">
        <h2>{{ movie.original_title }}</h2>
        <p><strong>Description:</strong> {{ movie.overview }}</p>
        <p><strong>Year:</strong> {{ movie.year }}</p>
        <p><strong>Tagline:</strong> {{ movie.tagline }}</p>
        <p><strong>Genres:</strong>
            {% for genre in genres %}
                {{ genre }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        <p><strong>Spoken Languages:</strong>
            {% for language in spoken_languages %}
                {{ language }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        <p><strong>Actor/Roles:</strong>
            {% for movie_actor in movie_actors %}
                {{ movie_actor.actor.actor_name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
    </section>

    {% if produce_recommendations %}
        <section class="produce_recommendations">
            <h2>Recommendation Results:</h2>
            <ul>
                {% for movie in produce_recommendations %}
                    <li>
                        <span class="label">Movie Title:</span>
                        <a href="{{ movie.get_absolute_url }}">{{ movie.original_title }}</a>
                    </li>
                    {% if not forloop.last %}
                        <hr>
                    {% endif %}
                {% empty %}
                    <li>No produce_recommendations found.</li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}

    <nav>
        <p><a href="{% url 'movie_search' %}" class="bold-link">Return to the Movie Search</a></p>
    </nav>

    <nav>
        <p><a href="{% url 'add_movie_to_playlist' movie.movie_id %}" class="bold-link">Add to playlist</a></p>
    </nav>

    <nav>
        <p><a href="{% url 'write_review' movie.movie_id %}" class="bold-link">Write Review</a></p>
    </nav>

{% endblock %}
