/* styles.css */

form {
    display: flex;
    align-items: center;
}

form div {
    display: flex;
    align-items: center;
}

form label {
    margin-right: 10px;
}

form button {
    margin-left: 10px;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Optional: adds space between items */
}

li > * {
    margin-right: 10px; /* Adds space between elements */
}

li form {
    margin: 0; /* Removes default margin from forms */
}

li a {
    margin-right: auto; /* Pushes the link to the left, so other elements are aligned to the right */
}
